<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th>IP</th>
      <th>类型</th>
    </tr>
  </thead>
  <tbody>
  <% @switches.each do |s| %>
  <tr>
    <td><%= link_to(s.name, switch_detail_path(switch_id: s)) %></td>
    <td><%= s.ip %></td>
    <td><%= s.model %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @switches, theme: 'bootstrap3' %>
