# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

sw_ftp_user: 'xxxx'
sw_ftp_pass: '123456'

zte_ftp_server: '192.168.18.112'
zte_ftp_user: 'zte'
zte_ftp_pass: 'xxxx'

zte_login: 'zte'
zte_pass: 'zte'

snmp_read_community: 'public@sxpolice.com'
snmp_write_community: 'private@sxpolice.com'

zabbix_front_url: 'http://192.168.18.118/zabbix/api_jsonrpc.php'
zabbix_user: 'Admin'
zabbix_password: 'zabbix'
hostgroup_name: 'Police Switches'

